.idea
/studentappui/target
/secondservice/target
/firstservice/target
/eurekaserver/target


/studentappui/src/main/webapp/frontend/dist
/studentappui/src/main/webapp/frontend/tmp
/studentappui/src/main/webapp/frontend/out-tsc
/studentappui/src/main/webapp/frontend/bazel-out

# Node
/studentappui/src/main/webapp/frontend/node_modules
/studentappui/src/main/webapp/frontendnpm-debug.log
/studentappui/src/main/webapp/frontendyarn-error.log

# IDEs and editors
/studentappui/src/main/webapp/frontend/.idea/
/studentappui/src/main/webapp/frontend/.project
/studentappui/src/main/webapp/frontend/.classpath
/studentappui/src/main/webapp/frontend/.c9/
/studentappui/src/main/webapp/frontend/*.launch
/studentappui/src/main/webapp/frontend/.settings/
/studentappui/src/main/webapp/frontend/*.sublime-workspace

# Visual Studio Code
/studentappui/src/main/webapp/frontend/.vscode/*
/studentappui/src/main/webapp/frontend/!.vscode/settings.json
/studentappui/src/main/webapp/frontend/!.vscode/tasks.json
/studentappui/src/main/webapp/frontend/!.vscode/launch.json
/studentappui/src/main/webapp/frontend/!.vscode/extensions.json
/studentappui/src/main/webapp/frontend/.history/*

# Miscellaneous
/studentappui/src/main/webapp/frontend/.angular/cache
/studentappui/src/main/webapp/frontend/.sass-cache/
/studentappui/src/main/webapp/frontend/connect.lock
/studentappui/src/main/webapp/frontend/coverage
/studentappui/src/main/webapp/frontend/libpeerconnection.log
/studentappui/src/main/webapp/frontend/testem.log
/studentappui/src/main/webapp/frontend/typings

# System files
/studentappui/src/main/webapp/frontend/.DS_Store
/studentappui/src/main/webapp/frontend/Thumbs.db
/studentappui/src/main/webapp/frontend/node


